.as{
    text-align: center;
    
    }
    .XD{
        padding-left: 10mm;
        padding-right: 10mm;
        
        
    }
    .space{
        padding-left: 60mm;
        padding-right: 60mm;
        
        
    }
    .heroina {

        margin-left: 20px;

    }
    .sramchujem{

        margin-left: 60px;

    }
    .głowa{
        background-image: url("logo.jpg");
        background-color: blueviolet;
    }
    .oo{
        border-style: solid;
        border-collapse: collapse;
        margin: auto;
    }
    .oo2{
        border-style: solid;
        border-collapse: collapse;
        margin: auto;background-color: rgba(204, 37, 196, 0.692);
    }
    .sperma {
        position: fixed;
        right: 0; margin: 8mm;        padding-left: 60mm;
        padding-right: 20mm;
        

    }
    .spermulec {
        position: fixed;
        right: 0; margin: 8mm;        padding-left: 60mm;
        padding-right: 20mm;
        

    }
    .cena {
        font-size: 72px;
        

    }
    p.double {border-style: double;}
    h1{ text-align: center;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;}
    .zentrum{text-align: center;}
.chujwiejakanazwetudackochamseks{

margin: 10mm;

}
